@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
	background-color: royalblue;
	margin:0;
	padding:0;
	box-sizing:border-box;
}



.top-bar {
	background-color:rgb(128, 128, 128);
	display:flex;
	justify-content:space-between;
	align-items: center;
	padding: 0px 5%;

}
	.top-bar #imgs {
		height:80px;
		width:90px;
	}
	.top-bar a {
		text-decoration: none;
		background-color: royalblue;
		font-family: "Montserrat", sans-serif;
		font-size: 16px;
		color: lemonchiffon;
		border-radius: 50px;
	}
	
