body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	/*background-color:black;*/
}


header {
	position: fixed;
	background: #808080;
	padding: 20px;
	width: 100%;
	height: 20px;
}

.left_area h3 {
	color: #00ffff;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
}

.left_area span {
	color: #ffffff
}

.logout_btn {
	padding: 5px;
	background: #4800ff;
	text-decoration: none;
	float: right;
	margin-top: -30px;
	margin-right: 40px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #00ffff;
	transition: 0.5s;
	transition-property: background;
}

	.logout_btn:hover {
		background: #808080;
	}

.sidebar {
	background: #2F323A;
	margin-top: 60px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width:250px;
	height: 100%;
	transition: 0.5s;
	transition-property:left;
}

	.sidebar .profile_image {
		width: 100px;
		height: 100px;
		border-radius: 100px;
		margin-bottom: 10px;
	}

	.sidebar a {
		color: #fff;
		display: block;
		width: 100%;
		line-height: 60px;
		text-decoration: none;
		padding-left: 40px;
		box-sizing: border-box;
		transition: 0.5s;
		transition-property: background;
	}



		.sidebar a:hover {
			background: #00ffff;
		}

	.sidebar i {
		padding-right: 10px;
	}

#check {
	display: none;
}

label #sidebar_btn {
	z-index: 1;
	color: #00ffff;
	position: fixed;
	cursor: pointer;
	left: 300px;
	font-size: 20px;
	margin: 5px 0;
	transition: 0.5s;
	transition-property: color;
}

	label #sidebar_btn:hover {
		color:#ffffff;
	}

#check:checked ~ .sidebar {
	left: -190px;
}

	#check:checked ~ .sidebar a span {
		display: none;
	}

	#check:checked ~ .sidebar a {
		font-size: 20px;
		margin-left: 170px;
		width: 80px;
	}
	
	/*The form container for login start*/
.form-container {
	width: 435px;
	height: auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #000;
	margin: auto;
}

ul.list {
	list-style-type: none;
	text-align: center;
}

	ul.list li {
		width: 300px;
		margin-bottom: 10px;
	}

		ul.list li input {
			width: 250px;
			text-align: center;
			padding: 8px 0px;
			border: none;
			background-color: #d3d3d3;
			border-radius: 5px;
		}

			ul.list li input[type="button"] {
				background-color:aqua;
				color: #fff;
			}

		ul.list li:nth-child(5) {
			color:darkblue;
		}
/*The form container for login end*/

/*About page start*/
.about-form {
	align-content: center;
	width: 1000px;
	height: 400px;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #000;
	margin: auto;
}

#aboutus h2 {
	margin-bottom: 25px;
}

.img-wrap {
	width: 100%;
}

.img-wrap img {
	width: 130px;
	height: auto;
	background-color: #808080;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #000;
	margin: auto;
	text-align: left;
}
/*About page end*/