@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
	background-color: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	height:100%;
}


/*start of a nav bar */
li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight:500;
	font-size:16px;
	color:#edf0f1;
	text-decoration: none;
}

header {
	background-color: rgb(128, 128, 128);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 10%;
}
#imgs {
	margin-right:auto;
}

.nav-links {
	list-style:none;
}

	.nav-links li {
		display:inline-block;
		padding: 0px 20px;
	}

		.nav-links li a {
			transition:all 0.3s ease 0s;
		}

.nav-links li a:hover {
	color:#0088a9;
}

#logout-btn {
	padding:9px 25px;
	background-color:rgba(0,136,169,1);
	border: none;
	border-radius:50px;
	cursor: pointer;
	transition:all 0.3s ease 0s;
}

	#logout-btn:hover {
	background-color: rgba(0,136,169,0.5);
	}

	/*End of a top bar*/

	
	/*allows contents not to affect the footer*/
#Content2 {
	min-height: 100%;
	overflow: auto;
	padding-bottom: 100px;
}

/*Start Gallery*/
.wrapper {
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
	grid-gap:5px;
}

.box img {
	width:100%;
	border-radius:20px;
}

.box {
	padding: 10px;
}

/*End Gallery*/

	
/* start footer*/

/*
.footer-bottom {
	background-color:#000;
	position:relative;
	height:100px;
	margin-top:-100px;
	clear:both;
}
	*/
/*End of footer*/





